::ng-deep .mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 500px !important;
  }
  
  
  
  
   ::ng-deep .mat-dialog-content {
      display: block;
      margin: 0 -24px;
      padding: 0 24px;
      max-height: 90vh !important;
      overflow:unset !important;
      -webkit-overflow-scrolling: auto;
  } 