<mat-dialog-content class="mat-typography">
  <h4>¿Qué elemneto quieres añadir?</h4>
  <mat-form-field appearance="outline">
    <mat-label>elemento to add</mat-label>
    <mat-select
      [(ngModel)]="selectedValue"
      name="newElement"
      (ngModelChange)="onSelectedValueChange($event)"
    >
      <mat-option *ngFor="let newadd of newElement" [value]="newadd.value">
        {{ newadd.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="container" [ngSwitch]="getPayloadTypeValue(selectedValue)">
    <form
      action=""
      *ngSwitchCase="'1'"
      [formGroup]="form"
      novalidate
      (ngSubmit)="onSubmit()"
    >
      <!-- 1 testinterval -->
      <mat-form-field appearance="outline">
        <mat-label>intervalo entre test</mat-label>
        <input
          #testInterval
          matInput
          type="text"
          formControlName="testInterval"
        />
        <mat-error *ngIf="form.get('testInterval')?.invalid">{{
          errorTestInterval()
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2 url -->
      <mat-form-field appearance="outline">
        <mat-label>url</mat-label>
        <input #url matInput formControlName="url" />
        <mat-error *ngIf="form.invalid">{{ errorUrl() }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 3 json de entrda -->
      <mat-form-field appearance="outline">
        <mat-label>json de entrda</mat-label>
        <input #json matInput formControlName="json" />
        <mat-error *ngIf="form.invalid">{{ errorJson() }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 4 Canal del servicio -->
      <mat-form-field appearance="outline">
        <mat-label>Canal del servicio</mat-label>
        <input #channel matInput formControlName="channel" />
        <mat-error *ngIf="form.invalid">{{ errorChannel() }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 5 descripción-->
      <mat-form-field appearance="outline">
        <mat-label>descripción</mat-label>
        <input matInput #description formControlName="description" />
        <mat-error *ngIf="form.invalid">{{ errorDescription() }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 6  label -->
      <mat-form-field appearance="outline">
        <mat-label>labelApp del servicio</mat-label>
        <input #labelApp matInput formControlName="labelApp" />
        <mat-error *ngIf="form.invalid">{{ errorlabelApp() }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 7  namespace -->
      <mat-form-field appearance="outline">
        <mat-label>namespace que aloja el servicio</mat-label>
        <input #namespace matInput formControlName="namespace" />
        <mat-error *ngIf="form.invalid">{{ errorNamespace() }}</mat-error>
      </mat-form-field>
      <br />

      <mat-dialog-actions align="center">
        <button
          mat-button
          mat-dialog-close
          [mat-dialog-close]="data$"
          type="submit"
          [disabled]="form.invalid"
        >
          agregar
        </button>
        <button mat-button mat-dialog-close>cancel</button>
      </mat-dialog-actions>
    </form>
    <!--------------------- case 2 agregar base de datos-------------------------->
    <form
      *ngSwitchCase="'2'"
      [formGroup]="db"
      novalidate
      (ngSubmit)="onSubmit_DB()"
    >
      <!-- 2.1 nombre de la base de datos -->
      <mat-form-field appearance="outline">
        <mat-label>nombre de la base de datos</mat-label>
        <input #name matInput type="text" formControlName="name" />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content45(db.get("name"))
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2.2 sentencia sql-->
      <mat-form-field appearance="outline">
        <mat-label>sql sentence</mat-label>
        <input
          #sqlSentence
          matInput
          type="text"
          formControlName="sqlSentence"
        />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content45(db.get("sqlSentence"))
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2.3 usuario de la base de datos -->
      <mat-form-field appearance="outline">
        <mat-label>usuario de la base de datos</mat-label>
        <input #username matInput type="text" formControlName="username" />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content45(db.get("username"))
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2.4 contraseña de la base de datos -->
      <mat-form-field appearance="outline">
        <mat-label>contraseña de la base de datos</mat-label>
        <input
          matInput
          #password
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content45(db.get("password"))
        }}</mat-error>
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <br />
      <!-- 2.5 intervalo entre test -->
      <mat-form-field appearance="outline">
        <mat-label>intervalo entre test</mat-label>
        <input
          #testInterval
          matInput
          type="text"
          formControlName="testInterval"
        />
        <mat-error *ngIf="db.get('testInterval')?.invalid">{{
          this.serv.getErrorMessage_testInterval(db.get("testInterval"))
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2.6 url de la base de datos -->
      <mat-form-field appearance="outline">
        <mat-label>url de la base de datos</mat-label>
        <input #url matInput formControlName="url" />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content255(db.get("url"))
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2.7 tipo de base de datos  -->
      <mat-form-field appearance="outline">
        <mat-label>tipo de base de datos</mat-label>
        <input #dbType matInput formControlName="dataBaseType" />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content45(db.get("dataBaseType"))
        }}</mat-error>
      </mat-form-field>
      <br />
      <!-- 2.8 decripcion de la base de dato  -->
      <mat-form-field appearance="outline">
        <mat-label>decripcion de la base de dato</mat-label>
        <input #description matInput formControlName="description" />
        <mat-error *ngIf="db.invalid">{{
          this.serv.max_content45(db.get("description"))
        }}</mat-error>
      </mat-form-field>
      <mat-dialog-actions align="center">
        <button
          mat-button
          mat-dialog-close
          [mat-dialog-close]="data$"
          type="submit"
          [disabled]="db.invalid"
        >
          agregar
        </button>
        <button mat-button mat-dialog-close>cancel</button>
      </mat-dialog-actions>
    </form>

    <div *ngIf="cancelButton()">
      <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </div>
  </div>
</mat-dialog-content>
