<mat-card class="text-center m-4">
  <mat-card-header class="justify-center">
    <mat-card-title-group>
      <mat-card-title> servicios pic de {{ appname }}</mat-card-title>
      <mat-card-subtitle
        >aqui podras todos los servicios pic de {{ appname }}</mat-card-subtitle
      >
    </mat-card-title-group>
  </mat-card-header>

  <div class="conatiner relative text-center flex flex-col m-auto">
    <mat-form-field class="text-center">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. gateway"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table
        class="mat-table m-auto w-auto"
        mat-table
        [dataSource]="dataSource"
        matSort
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <button
              mat-icon-button
              (click)="deleteData()"
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="warn"
              (click)="$event.stopPropagation()"
              (change)="$event ? this.service.selection.toggle(row) : null"
              [checked]="this.service.selection.isSelected(row)"
              [aria-label]="this.service.checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <!--aplicacion-->
        <ng-container matColumnDef="applId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>aplicacion</th>
          <td mat-cell *matCellDef="let row">{{ row.applId }}</td>
        </ng-container>

        <!-- integrationId -->
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
          <td mat-cell *matCellDef="let row">{{ row.Id }}</td>
        </ng-container>

        <!-- aintegrationId -->
        <ng-container matColumnDef="channel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>channel</th>
          <td mat-cell *matCellDef="let row">{{ row.channel }}</td>
        </ng-container>

        <!-- test intervals -->
        <ng-container matColumnDef="test_interval">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            test intervals
          </th>
          <td mat-cell *matCellDef="let row">{{ row.test_interval }} ms</td>
        </ng-container>

        <!-- decription -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>descripción</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <!-- consecutiveSuccessfulTest -->
        <ng-container matColumnDef="consecutiveSuccessfulTest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>éxitosos consecutivos</th>
          <td mat-cell *matCellDef="let row">
            {{ row.consecutiveSuccessfulTest }}
          </td>
        </ng-container>

        <!-- consecutiveFailedTest -->
        <ng-container matColumnDef="consecutiveFailedTest">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>fallidos consecutivos</th>
          <td mat-cell *matCellDef="let row">
            {{ row.consecutiveFailedTest }}
          </td>
        </ng-container>

        <!-- triggerHigh -->
        <ng-container matColumnDef="highT">
          <th mat-header-cell *matHeaderCellDef >triggerHigh</th>
          <td mat-cell *matCellDef="let row">{{ row.highT }} %</td>
        </ng-container>

        <!-- triggerLow -->
        <ng-container matColumnDef="lowT" >
          <th mat-header-cell *matHeaderCellDef >triggerLow</th>
          <td mat-cell *matCellDef="let row">{{ row.lowT }} %</td>
        </ng-container>



        <!-- tiempo de respuesta -->
        <ng-container matColumnDef="response_time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>respuesta</th>
          <td mat-cell *matCellDef="let row">{{ row.response_time }} ms</td>
        </ng-container>

        <!--  ultimo test -->
        <ng-container matColumnDef="last_test">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Último test</th>
          <td mat-cell *matCellDef="let row">{{ row.last_test }}</td>
        </ng-container>

        <!-- status-->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <!--registros-->
        <ng-container matColumnDef="registros">
          <th mat-header-cell *matHeaderCellDef>registros</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-mini-fab
              color="primary"
              [matTooltip]="registro"
              (click)="PicRegistry(row.Id)"
            >
              <mat-icon> list </mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- low alarm -->
        <ng-container matColumnDef="lowAlarm">
          <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
          <td mat-cell [hidden]="true" *matCellDef="let row"></td>
        </ng-container>

        <!-- high alarm -->
        <ng-container matColumnDef="highAlarm">
          <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
          <td mat-cell [hidden]="true" *matCellDef="let row"></td>
        </ng-container>

        <!-- editar-->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>editar parametros</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="open(row)">
              <mat-icon> edit </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngStyle]="{
            'background-color': this.rowAlertService.rowAlert(
              row.highAlarm,
              row.lowAlarm
            )
          }"
        ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="15">
            No hay datos que coincidan con el filtro"{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        class="mat-paginator"
        [pageSizeOptions]="[4, 8, 20, 80]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
    <br />
    <app-add-new-element
      (newItemEvent)="addItem($event)"
      class="self-end"
    ></app-add-new-element>
  </div>
</mat-card>
