.container {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  position: absolute;
}

.mat-header-cell {
  color: black;
  font-size: 14px;
  text-align: center;
  background-color: #b9c5fe;
}

.mat-row:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}

.mat-column-highT {
  width: auto;
  max-width: 40px;
  text-align: center;
}

.mat-column-replicas {
  width: fit-content;
  max-width: 25px;
}

.mat-column-label_app {
  width: fit-content;
  max-width: 30px;
  word-break: break-all;
}

.mat-column-lowT {
  width: auto;
  max-width: 40px;
  text-align: center;
}

.mat-column-response_time {
  width: auto;
  max-width: 30px;
}

.mat-column-test_interval {
  width: auto;
  max-width: 35px;
  text-align: center;
}

.mat-column-registros {
  width: auto;
  max-width: 45px;
  text-align: center;
}

.mat-column-last_test {
  width: auto;
  max-width: 45px;
  text-align: center;
}

.mat-expansion-panel {
  width: 98%;
}

.mat-form-field {
  font-size: 14px;
  width: 75%;
  margin-bottom: 5px;
  padding: 5px;
  align-self: center;
}

td {
  width: 4%;
}

th {
  width: 4%;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
  justify-content: center !important;
  margin-left: 10%!important;
}
