<div class="hover-text">

  <div class="tooltip-text">
    <p>{{ dataIn.data.msg }}</p>
    <i></i>
    </div>

  <div class="wrapper-node animate__animated">
    <div class="node-template">
      <div class="node-template-body">
        <div (click)="redirect(dataIn?.data?.link)" *ngIf="dataIn?.data?.img">
          <img
            [ngStyle]="{ filter: colorScheme(dataIn?.data?.Color) }"
            class="text-center"
            [src]="dataIn?.data?.img"
          />
        </div>
        <div>
          <font color="{{ dataIn?.data?.Color }}">{{
            dataIn?.data?.text
          }}</font>
        </div>
      </div>
    </div>
  </div>
</div>
