

  
  .flow-chart-wrapper {

     margin: -5% 5% 5% 5%;
   
  }

  .title{
    margin-top: 15px;
    font: 400 30px / 32px Roboto, "Helvetica Neue", sans-serif;
  }
  
  
  .algo{
    cursor: pointer;
  }