.title {
  margin-top: 2rem;
  font: 400 36px / 36px Roboto, "Helvetica Neue", sans-serif;
}

.algo {
  cursor: pointer;
}
.app-body{
  display: flex;
  justify-content:
  center; align-items: center;
  width: 100%;
  height: 100%;
}

::ng-deep.graph ::ng-deep.panning-rect{
  cursor: default !important;
}
::ng-deep .node text {
  text-anchor: middle;
}

.node-size {
  width: 10rem;
  height: 11rem;
}
