<ng-http-loader></ng-http-loader>

<div>
  <h1 class="title text-center z-50">{{ graph }}</h1>
  <div #zoneFlowChart class="app-body">
    <ngx-graph
      #myChart
      class="chartcontainer"
      [view]="dimensions"
      [links]="dataLink"
      [curve]="curve"
      [animate]="false"
      [enableZoom]="false"
      [draggingEnabled]="false"
      [panningEnabled]="false"
      [nodes]="dataNode"
      [layoutSettings]="layoutSettings"
      layout=""
      [autoCenter]="true"
    >
      <!-- #1 Esto es la punta de la flecha!-->
      <ng-template #defsTemplate>
        <svg:marker
          id="arrow-start"
          fill="#000000"
          viewBox="0 -5 10 10"
          refX="0"
          refY="0"
          markerWidth="3"
          markerHeight="3"
          orient="auto-start-reverse"
        >
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
        <svg:marker
          id="arrow-end"
          fill="#000000"
          viewBox="0 -5 10 10"
          refX="0"
          refY="0"
          markerWidth="3"
          markerHeight="3"
          orient="auto"
        >
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
        </svg:marker>
      </ng-template>

      <!-- #2 Esto es la tarjeta con el contenido -->
      <ng-template class="text-center" #nodeTemplate let-node>
        <svg:g class="node">
          <svg:foreignObject class="node-size">
            <xhtml:div xmlns="http://www.w3.org/1999/xhtml">
              <app-node-flow-chart [dataIn]="node"></app-node-flow-chart>
            </xhtml:div>
          </svg:foreignObject>
        </svg:g>
      </ng-template>

      <!-- #3 Esto son las lineas-->
      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path
            class="line"
            stroke-width="4"
            marker-start="url(#arrow-start)"
            marker-end="url(#arrow-end)"
          ></svg:path>
          <svg:text class="edge-label" text-anchor="middle"></svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>
</div>
