<mat-card class="w-4/5 mt-10 mx-auto text-center">
  <mat-card-header class="text-center justify-center">
    <mat-card-title-group class="">

      <div *ngIf="dataIsEmpty">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle
          ></mat-card-subtitle
        >
      </div>


      <div *ngIf="!dataIsEmpty" class="w-full h-full">
      <mat-card-title>Grafico de {{ title }}</mat-card-title>
      <mat-card-subtitle
        >aqui podras ver el estado en el tiempo del
        {{ title }}</mat-card-subtitle
      >
    </div>
    </mat-card-title-group>
  </mat-card-header>

  <div class="chart-container">
  <ngx-charts-area-chart
    scheme="ocean"
    [view]="[chartWidth, chartHeight]"
    [results]="dataIn"
    [legend]="true"
    [animations]="true"
    [xAxis]="true"
    [yAxis]="true"
    [legendTitle]="legentTitleIn"
    [gradient]="false"
    [timeline]="true"
    [yAxisLabel]="ylabel"
    [xAxisLabel]="xlabel"
    [showXAxisLabel]="false"
    [showYAxisLabel]="true"
    [trimXAxisTicks]="true"
    [maxXAxisTickLength]="1000000"
    [xAxisTickFormatting]="this.utils.formatDate"
    [tooltipDisabled]="false"

  >
    <ng-template #tooltipTemplate let-model="model">
      <div class="tooltip-container">
        <div class="tooltip-header">{{ model.series }}</div>
        <div class="tooltip-body">
          <div class="tooltip-row">
            <div class="tooltip-label">fecha:</div>
            <div class="tooltip-value">
              {{ model.name | date : "dd/MM/yyyy HH:mm:ss" }}
            </div>
          </div>
          <div class="tooltip-row">
            <div class="tooltip-label">{{legend1}}:</div>
            <div class="tooltip-value">{{ model.value }} {{legend2}}</div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <div class="tooltip-container">
        <div class="tooltip-header">{{ model[0].series }}</div>
        <div class="tooltip-body">
          <div class="tooltip-row">
            <div class="tooltip-label">fecha:</div>
            <div class="tooltip-value">
              {{ model[0].name | date : "dd/MM/yyyy HH:mm:ss" }}
            </div>
          </div>
          <div class="tooltip-row">
            <div class="tooltip-label">{{legend1}}:</div>
            <div class="tooltip-value">{{ model[0].value }} {{legend2}}</div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngx-charts-area-chart>
</div>
</mat-card>
