<div class="mx-5 mt-5">
    <app-breadcrumb
      [breadcrumbsData]="breadcrumbs"
      [title]="'api ' + title"
      [app]="''"
    ></app-breadcrumb>
  </div>
  
  
  <div class="m-5">
    <mat-toolbar color="primary" class="">
      <div class="text-left">
        <mat-icon>info</mat-icon>
        <span class="text-3xl"> Detalles del api</span>
      </div>
    </mat-toolbar>
  </div>
  
  <div class="flex justify-center">
    <div class="w-1/5 m-5">
      <div class="grid space-y-3">
        <button mat-raised-button disabled color="primary">Detalles</button>
        
        <button mat-raised-button color="primary" (click)="getServicesReplica()">
          <mat-icon>hub</mat-icon> Replicas del api
        </button>
         
        <button mat-raised-button color="primary" (click)="Registry()">
          <mat-icon>format_list_bulleted</mat-icon>
          Registros historios
        </button>
      </div>
    </div>
  
    <mat-card class="w-1/3">
      <form class="text-center space-x-2" [formGroup]="form">
        <mat-form-field appearance="outline" class="" [floatLabel]="'auto'">
          <mat-label>id del api</mat-label>
          <input matInput formControlName="Id" />
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="" [floatLabel]="'auto'">
          <mat-label>nombre del api</mat-label>
          <input matInput formControlName="label_app" />
        </mat-form-field>
    
        <mat-form-field class="" appearance="outline" [floatLabel]="'auto'">
          <mat-label>Namespace</mat-label>
          <input matInput formControlName="nameSpace" />
        </mat-form-field>
    
        <mat-form-field class="" appearance="outline" [floatLabel]="'auto'">
          <mat-label>Id de aplicación</mat-label>
          <input matInput formControlName="applId" />
        </mat-form-field>
    
        <mat-form-field class="" appearance="outline" [floatLabel]="'auto'">
          <mat-label>disparador de alarma bajo</mat-label>
          <input matInput formControlName="triggerLow" />
        </mat-form-field>
    
        <mat-form-field class="" appearance="outline" [floatLabel]="'auto'">
          <mat-label>disparador de alarma alto</mat-label>
          <input matInput formControlName="triggerHigh" />
        </mat-form-field>
    
        <mat-form-field class="" appearance="outline" [floatLabel]="'auto'">
          <mat-label>intervalo entre test</mat-label>
          <input matInput formControlName="test_interval" />
        </mat-form-field>
    
        <mat-form-field class="" appearance="outline" [floatLabel]="'auto'">
          <mat-label>URL base</mat-label>
          <input matInput formControlName="testUrl" />
        </mat-form-field>
    
        <div class="text-center">
          <button
            mat-stroked-button
            color="primary"
            (click)="toRequest()"
            class="w-full"
          >
            Implementar cambios
          </button>
        </div>
      </form>
    </mat-card>
  
  </div>
  
  
  