.container {
  width: 100%;
  margin-top: 5px;
  text-align: center;
  position: absolute;
}

table {
  min-width: 100%;
  margin: auto;
  text-align: center;
}


.mat-header-cell {
  color: black;
  font-size: 14px;
  text-align: center;
  background-color: #b9c5fe;
}

.mat-form-field {
  font-size: 14px;
  width: 75%;
  margin-bottom: 5px;
  padding: 5px;
  align-self: center;
}

.mat-row:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 2px black;
}

.card:hover {
  /* Estilos que deseas aplicar en el hover */
  transform: scale(1.2); /* Realiza un zoom-in en el hover */
  cursor: pointer; /* Cambia el cursor en el hover a una mano */
}

.mat-column-criticalTrigger {
  width: fit-content;
  max-width: 30px;
}

.mat-column-warningAlarm {
  width: auto;
  max-width: 20px;
}

.mat-column-replicas {
  width: fit-content;
  max-width:26px;
  text-align: center;
}

.mat-column-label_app {
  width: fit-content;
  max-width: 25px;
  word-break: break-all;
}

.mat-column-warningTrigger {
  width: fit-content;
  max-width: 30px;
}
.mat-column-status {
  width: fit-content;
  max-width: 30px;
  word-break: break-all;
  padding-left: 20px;
}

.mat-column-response_time {
  width: auto;
  max-width: 30px;
}

.mat-column-test_interval {
  width: auto;
  max-width: 35px;
  text-align: center;
}

.mat-expansion-panel {
  width: 98%;
}

.mat-form-field {
  font-size: 14px;
  width: 50%;
  margin-bottom: 5px;
  padding: 5px;
}

th,
td {
  width: 5%;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
  justify-content: center !important;
  margin-left: 10%!important;
}


.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ajusta esto según tus necesidades */
}

.example-card {
  max-width: 400px;
}

