.container {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    position: absolute;
  }
  
  table {
    min-width: 100%;
    margin: auto;
    text-align: center;
  }


::ng-deep .mat-sort-header-container {
  display: flex;
  cursor: pointer;
  align-items: center;
  letter-spacing: normal;
  outline: 0;
  justify-content: center !important;
}
  
  .mat-header-cell {
    color: black;
    font-size: 14px;
    text-align: center;
    background-color: #b9c5fe;
  }
  
  /* .mat-row:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 3px black;
  } */

  
.mat-form-field {
  font-size: 14px;
  width: 75%;
  margin-bottom: 5px;
  padding: 5px;
  align-self: center;
}
  
  
  .mat-expansion-panel {
    width: 98%;
  }
 
  
  th,
  td {
    width: 5%;
  }
  