<mat-sidenav-container class="example-container" autosize >
  <mat-sidenav #drawer class="example-sidenav" fixedInViewport  mode="side" opened>
    <mat-toolbar class="text-center items-center h-auto">
      <div class="m-auto text-center flex items-center">
        <img src="../../assets/logo.png" alt="Logo BDV" class="w-16 h-16" />
        <span class="text-3xl">BDV</span>
      </div>
    </mat-toolbar>
    <mat-divider class="w-11/12 fixed"></mat-divider>
    <mat-list>
      <mat-list-item routerLink="">
        <button mat-button class="w-full h-full">
          <mat-icon>list</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item routerLink="">
        <button mat-button class="w-full h-full">
          <mat-icon>group</mat-icon> BDV en linea personas
        </button>
      </mat-list-item>
      <mat-list-item routerLink="">
        <button mat-button class="w-full h-full">
          <mat-icon>business</mat-icon> BDV en linea Empresas
        </button>
      </mat-list-item>
      <mat-list-item routerLink="">
        <button mat-button class="w-full h-full">
          <mat-icon>stay_primary_portrait</mat-icon> BDV Digital
        </button>
      </mat-list-item>
      <mat-list-item routerLink="">
        <button mat-button class="w-full h-full">
          <mat-icon>store</mat-icon> Punto Ya
        </button>
      </mat-list-item>
      <mat-list-item routerLink="apis-list">
        <button mat-button class="w-full h-full">
          <mat-icon>list</mat-icon> api list
        </button>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <div class="min-h-screen">
    <mat-toolbar color="primary" class="fixed z-50">
      <span>Agente Monitor</span>
    </mat-toolbar>
    <div id="espacer" class="h-20"></div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
