<ng-http-loader spinner="sk-three-bounce"></ng-http-loader>

<div *ngIf="!tableIsEmpty" class="mx-5 mt-5">
  <app-breadcrumb
    [breadcrumbsData]="breadcrumbs"
    [title]="'Apis'"
    [app]="appname"
  ></app-breadcrumb>
</div>

<div *ngIf="!tableIsEmpty" class="mb-0 mx-5 mt-5">
  <app-add-new-element
    (newItemEvent)="addItem($event)"
    class="self-end"
  ></app-add-new-element>
</div>

<mat-card class="text-center m-5">
  <mat-card-header class="justify-center">
    <mat-card-title-group>
      <div *ngIf="tableIsEmpty">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </div>

      <div *ngIf="!tableIsEmpty" class="mt-3">
        <mat-card-title> Apis de {{ appname }} </mat-card-title>
        <mat-card-subtitle
          >aqui podras ver todas las apis de {{ appname }}</mat-card-subtitle
        >
      </div>
    </mat-card-title-group>
  </mat-card-header>

  <div class="conatiner relative text-center flex flex-col m-auto">
    <mat-form-field class="text-center">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="onFilterInputChanged($event)"
        placeholder="Ex. gateway"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table
        class="mat-table m-auto w-auto"
        mat-table
        [dataSource]="dataSource"
        matSort
      >
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <button
              mat-icon-button
              (click)="deleteData()"
              aria-label="Example icon button with a vertical three dot icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="warn"
              (click)="$event.stopPropagation()"
              (change)="$event ? this.service.selection.toggle(row) : null"
              [checked]="this.service.selection.isSelected(row)"
              [aria-label]="this.service.checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>
        <!--aplicacion-->
        <ng-container matColumnDef="applicationId">
          <th mat-header-cell *matHeaderCellDef>aplicacion</th>
          <td mat-cell *matCellDef="let row">{{ row.applicationId }}</td>
        </ng-container>

        <!-- api Id -->
        <ng-container matColumnDef="apiId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
          <td mat-cell *matCellDef="let row">{{ row.apiId }}</td>
        </ng-container>

        <!-- test intervals -->
        <ng-container matColumnDef="testInterv">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            test intervals
          </th>
          <td mat-cell *matCellDef="let row">{{ row.test_interval }} ms</td>
        </ng-container>

        <!-- name space-->
        <ng-container matColumnDef="nameSpace">
          <th mat-header-cell *matHeaderCellDef>namespace</th>
          <td mat-cell *matCellDef="let row">{{ row.nameSpace }}</td>
        </ng-container>

        <!-- criticalTrigger -->
        <ng-container matColumnDef="criticalTrigger">
          <th mat-header-cell *matHeaderCellDef>nivel crítico</th>
          <td mat-cell *matCellDef="let row">{{ row.criticalTrigger}} %</td>
        </ng-container> 

        <!-- warningTrigger -->
        <ng-container matColumnDef="warningTrigger" class="max-">
          <th mat-header-cell *matHeaderCellDef>aviso</th>
          <td mat-cell *matCellDef="let row">{{ row.warningTrigger }} %</td>
        </ng-container>

        <!-- label:app -->
        <ng-container matColumnDef="label_app">
          <th mat-header-cell *matHeaderCellDef>api name</th>
          <td mat-cell *matCellDef="let row">{{ row.label_app }}</td>
        </ng-container>

        <!-- tiempo de respuesta -->
        <ng-container matColumnDef="response_time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>respuesta</th>
          <td mat-cell *matCellDef="let row">{{ row.response_time }} ms</td>
        </ng-container>

        <!--  ultimo test -->
        <ng-container matColumnDef="last_test">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Último test</th>
          <td mat-cell *matCellDef="let row">{{ row.lastTestDate }}</td>
        </ng-container>

        <!-- status-->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <!--health-->
        <ng-container matColumnDef="health">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>health</th>
          <td mat-cell *matCellDef="let row">{{ row.health }}</td>
        </ng-container>

        <!--registros-->
        <ng-container matColumnDef="registros">
          <th mat-header-cell *matHeaderCellDef>registros</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-mini-fab
              color="primary"
              [matTooltip]="registro"
              (click)="ApiRegiistry(row.Id)"
            >
              <mat-icon> list </mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- replicas -->
        <ng-container matColumnDef="replicas">
          <th mat-header-cell *matHeaderCellDef>replicas</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-mini-fab
              color="primary"
              [matTooltip]="replicas"
              (click)="getApiReplica(row.Id)"
            >
              <mat-icon> cloud </mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- low alarm -->
        <ng-container matColumnDef="warningAlarm">
          <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
          <td mat-cell [hidden]="true" *matCellDef="let row"></td>
        </ng-container>

        <!-- high alarm -->
        <ng-container matColumnDef="criticalAlarm">
          <th mat-header-cell [hidden]="true" *matHeaderCellDef></th>
          <td mat-cell [hidden]="true" *matCellDef="let row"></td>
        </ng-container>

        <!-- editar-->
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>editar parametros</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matTooltip]="replicas" (click)="open(row)">
              <mat-icon> edit </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="apiDetails(row)"
          [ngStyle]="{
            'background-color': this.rowAlertService.rowAlert(
              row.criticalAlarm,
              row.warningAlarm
            )
          }"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="15">
            No hay datos que coincidan con el filtro"{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        class="mat-paginator"
        [pageSizeOptions]="[4, 8, 20, 80]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
    <!-- <button mat-button (click)="callApisData();"> algo</button> -->
  </div>
</mat-card>
