<div class="container">
  <div class="row">
    <div class="login">
      <mat-card class="login__card">

        <div class="logo-container">
          <img class="logo__img" src="/assets/logo.jpg" alt="">
        </div>

        <!--mat-form-field appearance="outline" >
          <mat-label>Usuario:</mat-label>
          <input matInput disabled>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Contraseña:</mat-label>
          <input matInput disabled>
        </mat-form-field>

        <button--
          mat-raised-button
          color="primary"
          class="login__button button--state-full"
          routerLink="/dashboard/home" disabled>Entrar</button-->

        <hr>

        <!-- <button
          mat-raised-button
          color="primary"
          class="login__button button--state-full"
          (click)="login()">
          <fa-icon [icon]="['fab', 'google']"></fa-icon>
          Entrar con Google
        </button> -->

      </mat-card>

    </div>
  </div>
</div>

