<div class="text-center flex justify-center">
  <div *ngFor="let single of data" class="m-5" >
    <mat-card [ngStyle]="evaluarMetric(single)">
      <mat-card-title class="mx-5">{{ single.descriptionOfValue }}</mat-card-title>
      <br />
      <mat-card-subtitle class="text-lg">{{ sub(single) }}</mat-card-subtitle>
      <span class="text-xl">valor actual: {{ single.actualStateValue }}</span>
      <mat-card-actions class="m-2">
        <button mat-raised-button color="primary">
          ACTUALIZAR
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn">
          BORRAR
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    
    
  </div>
</div>
  
<div class="text-center flex justify-center">
  <div *ngFor="let single of valueString" class="m-5">
    <mat-card [ngStyle]="stringMetric(single)">
      <mat-card-title class="mx-5">{{single.valuePath}}</mat-card-title>
      <div class="">
        <span class="text-xl">Normal estatus: {{single.normalValueState}}</span>
        <br>
        <span class="text-xl">Valor actual: {{single.actualStateValue}}</span>
      </div>
      <mat-card-actions class="m-2">
        <button mat-raised-button color="primary">
          ACTUALIZAR
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button color="warn">
          BORRAR
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
