<ng-http-loader></ng-http-loader>

<div class="mx-5 mt-5">
  <app-breadcrumb
    [breadcrumbsData]="breadcrumbs"
    [title]="'Replicas'"
    [app]="''"
  ></app-breadcrumb>
</div>

<div class="grid-container">
  <div class="text-center m-5" *ngFor="let data of data">
    <mat-card (click)="servicesDetails(data)">
      <header class="m-2">
      </header>
  <div class="w-24 h-20 card" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <img class="w-10 h-10" src="../../../assets/prueba2.png" alt="Descripción de la imagen" />
    <span class="mb-3">{{ data.replica_name }}</span>
  </div>
    </mat-card>
  </div>
</div>


<!-- 

<mat-card class="mt-10 text-center mb-10 m-5">
  <mat-card-header class="justify-center">
    <mat-card-title-group>
      <div *ngIf="tableIsEmpty">
        <mat-card-title></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </div>

      <div *ngIf="!tableIsEmpty">
        <mat-card-title
          >{{
            name == undefined || ""
              ? "sin replicas funcionales"
              : "réplicas del servico " + name
          }}
        </mat-card-title>

        <mat-card-subtitle
          >{{
            name == undefined || ""
              ? ""
              : "aqui podras ver las todas las réplicas del servico " + name
          }}
        </mat-card-subtitle>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <div class="conatiner relative text-center flex flex-col">
    <mat-form-field class="self-center">
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="onFilterInputChanged($event)"
        placeholder="Ex. gateway"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8 w-5/6 m-auto">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="serviceId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>service id</th>
          <td mat-cell *matCellDef="let row">{{ row.serviceId }}</td>
        </ng-container>

        <ng-container matColumnDef="replicaIp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>replica ip</th>
          <td mat-cell *matCellDef="let row">
            {{ row.replicaIp }}
          </td>
        </ng-container>

        <ng-container matColumnDef="metadata">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>metadata</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-flat-button
              class="text-center -m-2"
              color="primary"
              [matTooltip]="metadata1"
              (click)="openDialog(row)"
            >
              metadata
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>status</th>
          <td mat-cell *matCellDef="let row">{{ row.status }}</td>
        </ng-container>

        <ng-container matColumnDef="creation_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            fecha de creacion
          </th>
          <td mat-cell *matCellDef="let row">{{ row.creation_date }}</td>
        </ng-container>

        <ng-container matColumnDef="replica_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            nombre de la replica
          </th>
          <td mat-cell *matCellDef="let row">{{ row.replica_name }}</td>
        </ng-container>

        <ng-container matColumnDef="lastTestDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ultimo test</th>
          <td mat-cell *matCellDef="let row">{{ row.lastTestDate }}</td>
        </ng-container>

        <ng-container matColumnDef="label_hash">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>label hash</th>
          <td mat-cell *matCellDef="let row">{{ row.label_hash }}</td>
        </ng-container>

        <ng-container matColumnDef="registros">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>registros</th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-mini-fab
              color="primary"
              [matTooltip]="registro"
              (click)="rowGetServiceId_serviceIP(row.serviceId, row.replicaIp)"
            >
              <mat-icon> list </mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="9" *ngIf="prueba">
            No hay replicas que coincidan con la busqueda:"{{ input.value }}"
          </td>

          <td class="mat-cell" colspan="9" *ngIf="!prueba">
            "{{ this.msgError }}"
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[3, 6, 9, 18]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</mat-card> -->
